<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
    <% @articles.each do |article| %>
      <th>Title</th><td><%= article.title %></td>
      <td></td>
      </tr>

      <tr>
      <th>Description</th><td><%= article.description %></td>
      
      
      <td></td>
    </tr>
    <tr>
      <th></th>
      <th ><%= link_to 'View details', article %></th>
      </tr>
  </thead>

  
     
     
     
    <% end %>
  
</table>

<br>

<%= link_to 'New Article', new_article_path %>
