<p id="notice"><%= notice %></p>
<div class="well col-sm-6 col-lg-6 col-md-6 col-md-6">
<p>
  <%= @article.title %>
</p>

<p>
  <%= @article.description %>
</p>

<u><h5>|<%= link_to 'Edit Article', edit_article_path(@article) %> |</h5></u>
<h2>Comments</h2>
 <div id="comments">
         <%= render :partial => @article.comments %>
 </div>
 

<h4>Comments</h4>
<div id="comments"></div>

<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field">
 
  <div class="field">
    <%= f.label :body, "New comment" %><br />
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit "Add comment" %> <Button><%= link_to 'Back', articles_path %>
  </div>
<% end %>
